* {
    padding: 0;
    margin: 0;
}
body {
    padding: 5px;
}

.tab-headers {
    border: 1px solid #ccc;
    background-color: #f1f1f1;

}

.tab-contents {
    border-bottom: 1px solid #ccc;

}

.tabs button {
    font-size: 18px;
    font-weight: 500;
    padding: 10px 16px;
    border: none;
}

.tabs button:hover {
    background-color: #ddd;
    transition: .3s;
}

.tabs button.active {
    background-color: #ccc;
}

.content {
    display: none;
}

.content.active {
    display: block;
}

h3 {
    padding: 15px 0;
}